# Ignore virtual environment
env/
venv/
.venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.xlsx
*.zip
*.h5
*.pkl
*.pt

# Ignore system files
.DS_Store
__pycache__/
*.pyc